@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Etiquetas */
body {
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 2rem;
}

main img {
    object-fit: cover;
    width: 278px;
    height: 180px;
}

h5 {
    font-weight: 300;
}

/* Clases */
.logo-principal-footer {
    width: 86px;
    height: 25px;
}

.color-fondo-acento {
    background-color: #28a745;
}

.formulario {
    width: 100%;
}

.newsletter {
    color: white;
}

.width-card-center {
    width: 18rem;
    align-items: center;
    padding: 0;
}
/* Sobre-escribí padding */

.text-color-descripcion {
    color: #707070;
    font-weight: 300;
}

.valores {
    padding: 0 1rem;
}

.precio {
    color: #707070;
    font-weight: 300;

}

.oferta {
    color: #28A745;
    font-weight: 500;
}

.font-descripcion-direcion {
    font-size: 13px;
}

.sub-section-valores {
    height: 2em;
}