.portafolio-back-to-main {
  display: inline-block;
  background-color: #ff5e5e;
  width: 100%;
}

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Poppins", sans-serif;
}

/* min body height */

body {
  min-height: 100vh;
  height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}
/* colores */
:root {
  --head_foot-bg-color: #41414131;
  --bg-color-gral: #fcff9a3b;
}

/* CSS */
.grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "header header header"
    "menu main main"
    "footer footer footer";
  height: 100vh;
  grid-template-rows: 2fr 10fr 2fr;
}

.header {
  grid-area: header;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
  background-color: var(--head_foot-bg-color);
}

.main {
  grid-area: main;
  background-color: var(--bg-color-gral);
  min-width: 400px;
}

.menu {
  grid-area: menu;
  padding: 1rem;
  background-color: var(--bg-color-gral);
  display: block;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
  background-color: var(--head_foot-bg-color);
}

.flex-container-menu {
  display: flex;
  flex-direction: column;
}

.item-menu {
  width: max-content;
}

.titulo-menu {
  width: max-content;
  font-weight: 700;
  font-size: large;
}

.grilla-card-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 1em;
  height: 100%;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-card {
border-radius: 5px;
}
.titulo-producto {
  font-weight: 800;
  font-size: 1.2rem;
}

.precio {
  font-weight: 300;
  font-size: 0.8rem;
}

.btn-comprar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d9f77;
  transition: 150ms;
  padding: 5px;
  border-radius: 5px;
}

.btn-comprar:hover {
  transform: scale(101%);
}

.item-menu:hover,
.titulo-menu:hover {
  transition: 300ms;
  transform: scale(101%);
  font-weight: 800;
}