*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
  font-family: "inter", "Trebuchet MS";
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --color-textos: rgb(223, 223, 223);
}

/* makes sizing simpler */

body {
  background-color: #000813da;
  font-family: "Inter" "Poppins" "Trebuchet MS";
  color: var(--color-textos);
}

i {
  color: var(--color-textos);
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 17px;
  font-weight: bold;
}

h5,
p,
div {
  font-size: 17px;
}

.contenedor-main {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: "izquierda main derecha";
  grid-template-columns: 1fr 8fr 1fr;
  padding: 2rem;
}

.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.397);
}

.subsection-main-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  padding: 10rem 0 0 10rem;
}

.subsection-main-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem;
  padding: 0 10rem 10rem 0;
}

.izquierda {
  grid-area: izquierda;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.derecha {
  grid-area: derecha;
}

/* finalmente lo resolví a la mala... Toty, si lees esto, hay alguna cosa que pueda ayudar a no tener que hacer esos trucos a la mala?*/
.bloque-texto-izq {
  transform: rotate(-90deg);
  overflow: clip;
}

.bloque-texto-der {
  margin: 1rem 0 0 2rem;
}

p {
  max-width: 50ch;
}

.intro {
  margin: 2rem;
  font-weight: 100;
}

.little-intro {
  font-size: 1.2rem;
  font-weight: 200;
  color: aquamarine;
}




.menu {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-end;
}

ul {
  list-style-type: none;
}

ul>li:hover,
a:hover {
  color: rgb(73, 73, 73);
  transition: 300ms;
  transform: scale(130%);
}

a {
  color: var(--color-textos);
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

#texto-horizontal-derecha {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mobile-rrss {
  display: none
}


@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  .izquierda,
  .derecha {
    display: none;
  }


  .main {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 15px;
  }

  .intro {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contenedor-main {
    padding: 1rem 0rem 0 0;
    display: grid;
    width: 100%;
    height: 90vh;
  }

  .subsection-main-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 1rem 0 1rem;
    padding: 0 0 0 0;
    gap: 1rem;
  }

  .subsection-main-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 0 1rem 2rem 1rem;
    padding: 0;
    width: 80%;
  }

  ul>li,
  ul>a {
    font-size: 16px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }


  .mobile-rrss {
    display: inline;
  }

  .mobile-rrss {
    justify-content: space-evenly;
    gap: 0;
  }

  #texto-horizontal-derecha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
  }
}