header {
  margin-bottom: 5rem;
}

main {
  margin: 5rem 0;
}

#foto-portada {
  height: 10px;
  width: 10px;
}

#nombre {
  margin-top: 50%;
}

.color-substxt {
  color: gray;
}

.imagen-margen {
  margin: 10rem 2rem;
}

.texto-margen {
  margin: 0 2rem;
  padding: 10rem 0 0 0;
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

p {
  color: gray;
}